<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Molengek - MolenGeek</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./public/images/MG_LOGO.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6ea2d14109.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/css/app.css">
</head>

<body>
    <div class="nav-flex">
        <nav class="nav-bar">
            <a href="./index.html"> <img src="./public/images/MG_LOGO.png" alt="MolenGeek Logo"></a>
            <div class="menu-flex">
                <a href="">TRAINING</a>
                <a href="">AGENDA</a>
                <a href="">ABOUT NEW</a>
                <a href="">PRESSE</a>
                <a href="">MOLENGEEK.PRO</a>
                <a href="">JOBS</a>
            </div>
            <div class="contact-us mb-1 ">
                <a href="">CONTACT US</a>
            </div>
        </nav>
    </div>
    <div class="intro-container">
        <img class="image-size" src="./public/images/Background cover.jpg" alt="">
        <p class="smaler-size text-white">#DigitalForAll #Training</p>
        <p class="bigger-size text-white">MOLENGEEK THE ECOSYSTEM THAT MAKES DIGITAL ACCESSIBLE TO ALL</p>
        <a class="course-bd-purple" href="https://molengeek.com/trainings/?lang=en">SEE THE COURSES</a>
    </div>
    <div class="mt-5 container ">
        <div class="texts-div-center">
            <h1 class="text-center text-font">WHAT IS <span class="text-purple">MOLENGEEK</span> ?</h1>
            <p class="text-center"> MolenGeek is located in the heart of Molenbeek in Brussels. Our mission is to make
                the technology sector accessible to anyone who wants to ride the digital wave, regardless of background
                or level of training.</p>
            <br>
            <p>We are composed of three main pillars: a coworking space; long and short term training programs; and
                dynamic events, such as Hackathons, Geektalks, etc.</p>
        </div>
    </div>
    <br>
    <div class="container text-center mt-5">
        <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
            <div class="col">
                <div class="card" style="width: 23rem; height: 25rem;">
                    <img src="./public/images/1st cart.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Coworking</h5>

                        <a href="#" class="btn mt-5 btn-cart-purple ">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 23rem; height: 25rem;">
                    <img src="./public/images/2d cart.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Training</h5>

                        <a href="#" class="btn mt-5  btn-cart-purple ">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 23rem; height: 25rem;">
                    <img src="./public/images/3d cart.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Events</h5>

                        <a href="#" class="btn mt-5  btn-cart-purple ">Read more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>
    <h1 class="text-center">Our popular short courses</h1>
    <br><br>
    <div class="position-relative">
        <div class="container popular-flex">
            <img src="./public/images/ps.png" alt="">
            <img src="./public/images/pr.png" alt="">
            <img src="./public/images/wp.png" alt="">
            <img src="./public/images/rs.png" alt="">

        </div>
        <a class=" mt-4 btn-cart-purple button-center" href="">SEE ALL COURSES</a>
    </div>
    <br><br><br><br>
    <div class="long-courses-div mt-4 container">
        <h1 class="text-center">Our long courses</h1>

        <div class="bordere-course m-3 position-relative">
            <div class="number">
                <h1>1</h1>
            </div>
            <div class="text">
                <h2 class="fw-bold">Coding School</h2>
                <p>learn to code a website from A to Z</p>
                <p>6 months . maximum 29 years old . job seeker . registered with Actiris . full time 9am / 5pm</p>
            </div>
            <div class="button">
                <button>Sing up</button>
            </div>
        </div>

        <div class="bordere-course border-danger m-3 position-relative">
            <div class="number">
                <h1>2</h1>
            </div>
            <div class="text">
                <h2 class="fw-bold">Digital Marketing</h2>
                <p>Learn about digital marketing</p>
                <p>6 months . maximum 29 years old . job seeker . registered with Actiris . full time 9am / 5pm</p>
            </div>
            <div class="button ">
                <button class="bg-danger">Sing up</button>
            </div>
        </div>

        <div class="bordere-course border-success m-3 position-relative">
            <div class="number">
                <h1>3</h1>
            </div>
            <div class="text">
                <h2 class="fw-bold">Webmaster 360</h2>
                <p>Create powerful and attractive websites with WordPress</p>
                <p>6 months . job seeker . registered with Actiris</p>
            </div>
            <div class="button">
                <button class="bg-success">Coming soon</button>
            </div>
        </div>

        <div class="bordere-course border-warning m-3 position-relative">
            <div class="number">
                <h1>4</h1>
            </div>
            <div class="text">
                <h2 class="fw-bold">AWS re/Start</h2>
                <p>learn to code a website from A to Z</p>
                <p>3 months . maximum 29 years old . job seeker . registered with Actiris . full time 9am / 5pm</p>
            </div>
            <div class="button">
                <button class="bg-warning">Coming soon</button>
            </div>
        </div>

        <div class="bordere-course border-primary m-3 position-relative">
            <div class="number">
                <h1>5</h1>
            </div>
            <div class="text">
                <h2 class="fw-bold">Salesforce Administrator</h2>
                <p>Optimize good customer service with Salesforce</p>
                <p>3 months . job seeker . registered with Actiris . full time 9h / 17h</p>
            </div>
            <div class="button">
                <button class="bg-primary">Coming soon</button>
            </div>
        </div>


    </div>
    <br><br>
    <div class="important-dates container">

        <h1 class="text-center">Important dates coming up</h1>

        <div class="dates-div">
            <div class="events container ">
                <p class="date-time-border">15/02</p>
                <img src="./public/images/download.png" alt="">
                <p class="event-name">SÉANCE D'INFO TIC</p>
                <p class="niveau-text-right"></p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download (1).png" alt="">
                <p class="event-name">FORMATION WORDPRESS</p>
                <p class="niveau-text-right">Niveau débutant</p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download (2).png" alt="">
                <p class="event-name">FORMATION AFTER EFFECT</p>
                <p class="niveau-text-right">Niveau débutant</p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download (3).png" alt="">
                <p class="event-name">FORMATION HTML</p>
                <p class="niveau-text-right">Niveau débutant</p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download (4).png" alt="">
                <p class="event-name">FORMATION RÉSEAUX SOCIAUX</p>
                <p class="niveau-text-right">Niveau débutant</p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download (1).png" alt="">
                <p class="event-name">FORMATION WORDPRESS</p>
                <p class="niveau-text-right">Niveau avancé</p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download (5).png" alt="">
                <p class="event-name">FORMATION Indesign</p>
                <p class="niveau-text-right">Niveau débutant</p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download.png" alt="">
                <p class="event-name">FORMATION PYTHON</p>
                <p class="niveau-text-right">Niveau débutant</p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download (4).png" alt="">
                <p class="event-name">FORMATION RÉSEAUX SOCIAUX</p>
                <p class="niveau-text-right">Niveau débutant</p>
            </div>
            <div class="events container ">
                <p class="date-time-border">03/04 15/06</p>
                <img src="./public/images/download (6).png" alt="">
                <p class="event-name">FORMATION Javascript</p>
                <p class="niveau-text-right">Niveau débutant</p>
            </div>
        </div>
        <a class=" mt-4 btn-cart-purple button-center" href="">SEE ALL COURSES</a>
    </div>
    <br><br><br>
    <div class="join-us-div mt-5 text-white">
        <div class="centred-div mt-5">
            <h2 class="">Ready to join us</h2>
            <h4>Don't be alone!</h4>
            <button>Join us</button>
        </div>
    </div>
    <br><br> <br>
    <div class="contact-us-div position-relative">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10074.774967717954!2d4.3412193!3d50.8553553!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c38c275028d3%3A0xc7799151146ebf77!2sMolenGeek!5e0!3m2!1sen!2sma!4v1680574533104!5m2!1sen!2sma"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="contact-ifo text-white mt-5 ms-5">
            <h3>Contact us</h3>
            <p><strong> MolenGeek ASBL</strong>

                10, place de la Minoterie

                1080 Molenbeek-Saint-Jean

                VAT BE 0655.835.212</p>
            <a class="text-white" href="mailto:info@molengeek.com">info@molengeek.com</a>

        </div>
    </div>

    <br><br>

    <div class="subs-container">
        <div class="mail-icon ">
            <i class="far fa-envelope "></i>
        </div>
        <h3 class="text-center">Subscribe to our newsletter</h3>
        <div class="subs-form">
            <input type="email">
            <button>Subscribe</button>
        </div>
    </div>
    </div>
    <br><br>
<div class="fixed-whatsapp">
    <i class="fab fa-whatsapp "><a href=""></a></i>

</div>
    <footer>
        <div class="socialmedia text-white">
            <i class="fab fa-facebook"><a href="">Facebook</a></i>
            <i class="fab fa-instagram"><a href="">Instagram</a></i>
            <i class="fab fa-twitter"><a href="">Twitter</a></i>
            <i class="fab fa-linkedin"><a href="">Linkedin</a></i>


        </div>
        <hr class="text-white">
        <div class="footer-logo">
            <img src="./public/images/MG_LOGO.png" alt="">
        </div>
        <p class="text-white text-center mt-4">MolenGeek est une organisation à but non lucratif.</p>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>